Just like NumPy ndarrays, we can perfrom element-wise arithmetic operations on Pandas Series. In this lesson we will look at arithmetic operations between Pandas Series and single numbers. Let's create a new Pandas Series that will hold a grocery list of just fruits.

In [2]:
import pandas as pd

# Creste a Pandas Series that stores a grocery list of just fruits
fruits = pd.Series(data=[10,6,3], index=['apples','oranges','bananas'])

# display the fruits Pandas Series
fruits

apples     10
oranges     6
bananas     3
dtype: int64

we can nos modify the data in fruits by performing basic arithmetic operations. Let's see some examples. 

#### 1. Element-wise basic arithmetic operations

In [3]:
# print fruits for reference
print('Original grocery list of fruits: \n ',fruits)

# perfrom basic element-wise operations using arithmetic symbols
print()
print('fruits + 2: \n', fruits + 2) # we add 2 to each item in fruits
print()
print('fruits - 2: \n', fruits - 2) # we subtract 2 to each item in fruits
print()
print('fruits * 2: \n', fruits * 2) # we multiply each item in fruits by 2
print()
print('fruits / 2: \n', fruits / 2) # we divide each item in fruits by 2
print()

Original grocery list of fruits:
  apples     10
oranges     6
bananas     3
dtype: int64

fruits + 2:
 apples     12
oranges     8
bananas     5
dtype: int64

fruits - 2:
 apples     8
oranges    4
bananas    1
dtype: int64

fruits * 2:
 apples     20
oranges    12
bananas     6
dtype: int64

fruits / 2:
 apples     5.0
oranges    3.0
bananas    1.5
dtype: float64

You can also apply mathematical functions to NumPy, such as `sqrt(x)`, to all elements of a Pandas Series.

#### Example 2. Use mathematical functions from NumPy to operate on Series.

In [5]:
import pandas as pd
import numpy as np

# Creste a Pandas Series that stores a grocery list of just fruits
fruits = pd.Series(data=[10,6,3], index=['apples','oranges','bananas'])

# display the fruits Pandas Series
fruits

# Apply different mathematical functions to all elements of fruits
print()
print('EXP(X) = \n ', np.exp(fruits))
print('SQRT(X) = \n', np.sqrt(fruits))
print('POW(X) = \n', np.power(fruits,2))

EXP(X) =
  apples     22026.465795
oranges      403.428793
bananas       20.085537
dtype: float64
SQRT(X) =
 apples     3.162278
oranges    2.449490
bananas    1.732051
dtype: float64
POW(X) =
 apples     100
oranges     36
bananas      9
dtype: int64

Pandas also allows us to only apply arithmetic operations on selected items in our fruits grocery list. Let's see some examples

#### Example 3. Perform arithmetic operations on selected elements.

In [7]:
import pandas as pd
import numpy as np

# Creste a Pandas Series that stores a grocery list of just fruits
fruits = pd.Series(data=[10,6,3], index=['apples','oranges','bananas'])

# display the fruits Pandas Series
fruits

# add 2 only to the bananas
print('Amount of bananas + 2 = ', fruits['bananas']+ 2)
print()

# subtract 2 from apples
print('Amount of apples - 2 = ', fruits.iloc[0] - 2)
print()

# multiply 2 apples and oranges by 2
print('We double the amount of apples and oranges: \n', fruits[['apples','oranges']]*2)
print()

# divide 2 apples and oranges by 2
print('We half the amount of appels and oragnes: \n', fruits.loc[['apples','oranges']]/2)

Amount of bananas + 2 =  5

Amount of apples - 2 =  8

We double the amount of apples and oranges:
 apples     20
oranges    12
dtype: int64

We half the amount of appels and oragnes:
 apples     5.0
oranges    3.0
dtype: float64

You can also apply arithmetic operations on Pandas Series of mixed data type provided that the arithmetic operation is defined for *all* data types Series, otherwise, you will get an error. Let's see what happens when we multiply our grocery list by 2

In [8]:
# import Pandas as pd into Python 
import pandas as pd

# create a Pandas Series that stores a crocery list
groceries = pd.Series(data=[30,6,'Yes','No'], index=['eggs','apples','milk','bread'])

# display the Groceries Pandas Series
groceries

groceries*2

eggs          60
apples        12
milk      YesYes
bread       NoNo
dtype: object

As we can see, in this case, since we multiplied by 2, Pandas doubles the data of each item including the strings. pandas can do this vecause the multiplication operation `*` is defined both for numbers and strings. If you were to apply an operation that was valid for numbers but not strings, say for instance `/` you will get an error.